[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "ananke"

[packages]
backoff = "*"
sparqlwrapper = "*"
sparqlkernel = "*"
pandas = "*"
seaborn = "*"
requests = "*"
cachecontrol = "*"
openpyxl = "*"
statsmodels = "*"
click = "*"
anytree = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
vcrpy-unittest = "*"
jupyter = "*"


[requires]
python_version = "3.9"